/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main CSS */

html,
body,
body > div,
#app,
#app > div {
  height: 100%;
}

html {
  font-size: 0.9rem;
}

body {
  background-color: #d9e4dd;
  color: #555555;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
}

.container {
  background-color: #fbf7f0;
  height: 100%;
  position: relative;
}

#info {
  padding: 30px;
}

.contact,
.about,
.education,
.experience {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 3px;
}

.basic-contacts {
  width: 100%;
}

.text-basic-info {
  margin-left: 13px;
  word-wrap: break-word;
  line-height: 1.5;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  line-height: 1.5;
  display: block;
  width: 80%;
  text-align: center;
}

.name,
.name-form {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  word-break: break-all;
}

.name-form {
  max-width: 100%;
}

.leftside {
  border-right: 1px solid transparent;
  max-height: 450px;
}
#photo {
  max-width: 200px;
}

@media (min-width: 576px) {
  .leftside {
    border-right: 1px solid #dbdbdb;
    max-height: 100%;
  }

  #photo {
    max-width: 500px;
  }

  .education-container {
    margin-top: 0;
  }

  html {
    font-size: 1rem;
  }
}

.education-text,
.experience-text {
  line-height: 1.5;
  text-align: center;
}

input {
  background-color: #fbf7f0;
  cursor: text;
  outline: none;
  color: #555555;
  border: none;
  border-bottom: 2px solid #929292;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}

#name {
  font-size: 2rem;
}

.edit-btn {
  display: inline-block;
  margin-left: auto;
  position: absolute;
  left: 90%;
  font-size: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #bdbdbd;
  transition: color 0.2s;
}

.edit-btn:focus {
  outline: none;
}

.edit-btn:hover {
  color: #555555;
}

p {
  line-height: 2;
}

i {
  font-size: 0.9rem;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

label > i {
  width: 20px;
}

.contact-container {
  padding-left: 20px;
}

.hidden {
  display: none;
}

div {
  word-wrap: break-word;
}

#about {
  word-wrap: break-word;
}
